h1 {
    font-size: 80px;
    color: blue;
    text-shadow: 2px 2px rgb(230, 242, 255);
    font-family: 'Labrada', serif;
}

.homepage-hero {
    height: 240px;
    text-align: center;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: hotpink;
    background-image: url("https://images.pexels.com/photos/3411132/pexels-photo-3411132.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: 9000px 5000px;
    background-attachment: fixed;
    text-align: center;
}

.main-container {
    padding: 20px;
    margin: 0;
    width: 800px;
}

footer {
    text-align: center;
    background-color: #d5dd81;
    padding: 20px;
}

img {
    max-width: 100px;
}

.code-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
